<div id="loading" class="justify-content-center text-center" style="display:none; position: fixed;left: 0;width: 100%;height: 100vh;z-index: 999;backdrop-filter: blur(5px); "><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_632/04de2e31234507.564a1d23645bf.gif" alt=""> <h1>LOADING....</h1></div>

<!-- Page Heading -->
<!-- <a href="/adduser" class="btn btn-primary mb-3">Tambah User</a> -->
<button  data-toggle="modal" data-target="#verifymodal" <% if (unverified.length ==0) { %>disabled<% } %> class="btn btn-primary mb-3">Verify Data ➤</button>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Unverified</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="/verifyproses" id="verifyproses" method="post">
                <!-- upload Modal-->
                <div class="modal fade" id="verifymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title text-justify" id="exampleModalLabel">Code for Verify Data</h5>
                               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">×</span>
                               </button>
                           </div>
                               
                               <div class="form-group m-2">
                                   <label for="kodeotp" >Input OTP  </label>
                                   <input type="number" pattern="/^-?\d+\.?\d*$/" required class="form-control form-control-user" placeholder="XXXXXX" onKeyPress="if(this.value.length==6) return false;"  name="kodeotp" id="kodeotp" style="text-align:center;" />
                               </div>
                                                            
                           <div class="modal-footer">
                                   <input type="submit" class="btn btn-primary"  name="send" value="Send">
                               <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                           </div>
                       </div>
                   </div>
               </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CHECK DATA</th>               
                        <th>ID TRANSAKSI</th>
                        <th>JENIS_TRANSAKSI</th>
                        <th>JUMLAH_TRANSAKSI</th>                                                                       
                        <th>ACTION</th>                                                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CHECK DATA</th>               
                        <th>ID TRANSAKSI</th>
                        <th>JENIS_TRANSAKSI</th>
                        <th>JUMLAH_TRANSAKSI</th>                                                        
                        <th>ACTION</th>                                                        
                    </tr>
                </tfoot>
                <tbody>                    
                    <% unverified.forEach(data => { %>
                        <tr>
                            <td><input class="form-control d-inline-block" type="checkbox" name="cek" id="cek" value="<%- data.IDTDETAIL %>"/></td>                            
                            <td><%- data.IDTDETAIL %> </td>
                            <td><%- data.JENIS_TRANSAKSI %></td>
                            <td><%- data.JUMLAH_TRANSAKSI %></td>
                            <td><a href="/deleteunverify/<%- data.IDTDETAIL %>" onclick="return confirm('Are U Sure?')" class="btn btn-danger">Delete</a></td>
                        </tr>            
                        <% }) %>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>